.cartPage {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid lightgray;
  padding-top: 100px;
}

/* Totals section */
.totals {
  padding-top: 20px;

  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }

    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }

  .total {
    font-family: bold;
  }
}

.buy {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: $second-color;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
  margin-bottom: 100px;
}

.buy:hover {
  background-color: $third-color;
}
