.services {
  margin: 50px 10% 50px 10%;
}

.servicesTittle {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1502343019212-cc6a09783255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: white;
    margin-left: 10%;
    padding-top: 250px;
  }

  p {
    color: white;
    margin-left: 10%;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .section1 {
    display: flex;
    text-align: center;
    border-top: 2px solid $second-color;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .section1 {
    margin: 50px;
  }
}
