$main-color: #8d5524;
$second-color: #c68642;
$third-color: #e0ac69;
$fourth-color: #f1c27d;
$fifth-color: #ffdbac;

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

