// base styles

@import 'reset';
@import 'vars';
@import 'contactos';
@import 'empresa';
@import 'footer';
@import 'header';
@import 'utilities';
@import 'servicos';

body {
  background-color: white;
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  width: 100%;
  height: 20%;
}

.main {
  margin: 0 10% 0 10%;
}

/* ---------------Slider------------------- */

.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 20px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* section with links to some pages */
.container-products {
  padding-top: 110px;
}

.floor {
  width: auto;
  height: 460px;
  margin: 0 10% 0 10%;
  background-color: grey;
}

.strips {
  width: 320px;
  height: 400px;
  background-color: grey;
  margin-left: 10%;
  margin-top: 80px;
  display: flex;
  float: left;
}

.videos {
  width: 740px;
  height: 400px;
  display: flex;
  float: right;
  margin-right: 10%;
  margin-top: 80px;
  background-color: grey;
}

.titlePromos {
  margin-left: 10%;
  padding-top: 110px;
}

.sales {
  margin: 0 10% 0 10%;
  display: flex;
}

.promo {
  border: 2px solid grey;
  height: 200px;
  width: 33%;
  margin: 10px 10px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  body {
    max-width: 1600px;
  }
}
